@model EntranceViewModel
@{
    ViewData["Title"] = "Entrance";
}

<h4>Войти на сайт</h4>

<form asp-action="Entrance" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="input-group mb-3">
            <label asp-for="Login">Введите Login</label>
            <input asp-for="Login" class="form-control" placeholder="Username" aria-label="Username" />
            <span asp-validation-for="Login" />
        </div>
        <div class="input-group mb-3">
            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password"class="form-control" placeholder="Password" aria-label="Password"/>
            <span asp-validation-for="Password" />
        </div>
        <br />
        <input type="submit" value="Войти" class="btn btn-primary" />
       
    </div>

</form>
<br />
<a asp-area="" asp-controller="Account"  style="color:white"  asp-action="Registration">
    <input  type="button" value="Зарегестрироваться" class="btn btn-success" />
</a>
