@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Вам недоступна эта страница из за недостатка прав или вы не вошли в систему.</h1>
@{
}
