
<h3>@ViewData["Message"]</h3>


<address>
    Ukraine<br />
    Kharkov,61009<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>Vikapetruk1234@gmail.com<br />
    <strong>Number:</strong><span>0960114795</span>
</address>
