@model Shop_Phone_MVC.Models.ConfirmationViewModel

@{
    ViewData["Title"] = "Confirmation";
}

<h3 style="text-align:center">Ваш заказ № @Model.ID</h3>
<h4 style="text-align:center">Спасибо за ваш заказ!</h4>

