@page
@model AboutModel
@{
    ViewData["Title"] = "About MobiCat";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p> MobiCat - is fast growing company, which sell phones at cheap prices. You can buy a phone on our site.</p>
