@page
@model Shop_Phone_Web.Pages.MakeOrderModel
@{
    ViewData["Title"] = "MakeOrder";
}
<h4>Ваш заказ:</h4>
<h5>Колличество товаров: </h5>
<h5>Сумма: </h5>
<h5>Адресс: </h5>
<h4>Спасибо за ваш заказ!</h4>


